/* You can add global styles to this file, and also import other style files */
html, body {
	width: 100%;
	height: 100%;
	background-color: #000000;
}

div {
	color: #FFFFFF;
}

.fine-print {
	font-size: x-small;
}

.article-summary {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#planetstrife {
/*
	background-image: url('https://munsyio.s3-us-west-2.amazonaws.com/gaia-orbit.gif');
	background-repeat: no-repeat;
	background-position: center;
*/
}

/*
.munsy-video {
	z-index: -1;
}

.munsy-overlay {
	z-index: 0;
}
*/
